@model OwnerTransactionRequestsWithDetailsViewModel

@{
    this.ViewData["Title"] = "Transaction Requests Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-center text-info">@this.ViewData["Title"]</h1>
<!--Settings: this.Model.SettingsCount-->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">

        <div class="row justify-content-center">

            <div class="col-10 pt-4">
                <div class="col-12">
                    <!-- TABLE: TRANSACTION REQUESTS -->
                    <div class="card">
                        <div class="card-header border-transparent">
                            <h3 class="card-title text-info"><strong>Transaction Requests</strong></h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <div id="transactions">
                                    <table class="table m-0">
                                        <thead>
                                            <tr>
                                                <th class="px-3">Date</th>
                                                <th>To</th>
                                                <th>Reason</th>
                                                <th>Amount</th>
                                                <th>Recurring</th>
                                                <th>Status</th>
                                                <th>Details</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.TransactionRequests.Any())
                                            {
                                                @foreach (var transactionRequest in Model.TransactionRequests)
                                                {
                                                    <tr>
                                                        <td class="col-1 py-1 px-3"
                                                            style='vertical-align:middle'>
                                                            @transactionRequest.Date
                                                        </td>
                                                        <td class="col-4 py-1 px-1"
                                                            style='vertical-align:middle'>
                                                            @transactionRequest.TenantName
                                                        </td>
                                                        <td class="col-4 py-1 px-1"
                                                            style='vertical-align:middle'>
                                                            @transactionRequest.Reason
                                                        </td>
                                                        <td class="col-2 py-1 px-1"
                                                            style='text-align:center;vertical-align:middle'>
                                                            $@transactionRequest.Amount
                                                        </td>
                                                        <td class="col-3 py-1"
                                                            style='text-align:center;vertical-align:middle'>
                                                            @if (transactionRequest.IsRecurring)
                                                            {
                                                                <span class="badge badge-success">
                                                                    YES
                                                                </span>
                                                            }
                                                            else
                                                            {
                                                                <span class="badge badge-info">
                                                                    NO
                                                                </span>
                                                            }
                                                        </td>
                                                        <td class="col-3 py-1"
                                                            style='text-align:center;vertical-align:middle'>
                                                            @if (transactionRequest.Status == "Complete")
                                                            {
                                                                <span class="text-success">
                                                                    <i class="fas fa-check"></i>
                                                                </span>
                                                            }
                                                            else if (transactionRequest.Status == "Pending")
                                                            {
                                                                <span class="text-danger">Pending</span>
                                                            }
                                                        </td>

                                                        <td class="col-1 py-1 pl-0 pr-3"
                                                            style='text-align:center;vertical-align:middle'>
                                                            <a asp-controller="TransactionRequests"
                                                               asp-action="Details"
                                                               asp-route-Id="id"
                                                               style="display:block; margin-bottom:-10px">
                                                                <ion-icon size="large" name="list-outline">
                                                                </ion-icon>
                                                            </a>
                                                        </td>
                                                        <td class="col-1 py-1 pl-0 pr-3"
                                                            style='vertical-align:middle'>
                                                            <input type="submit"
                                                                   class="btn btn-danger form-control"
                                                                   asp-controller="TransactionRequests"
                                                                   asp-action="RemoveRecurring"
                                                                   asp-route-id="@transactionRequest.Id" value="Remove" />
                                                        </td>
                                                        <td>
                                                            @Html.ActionLink("Remove", "RemoveRecurring", new { id = transactionRequest.Id })
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr class="col-12 py-1 px-3 text-secondary text-center"
                                                    style='vertical-align:middle'>
                                                    No transaction requests for your rentals
                                                </tr>
                                            }
                                            <tr>
                                                <td class="col-1 py-1 px-3"
                                                    style='vertical-align:middle'>
                                                    12/03/2020
                                                </td>
                                                <td class="col-4 py-1 px-1"
                                                    style='vertical-align:middle'>
                                                    Schunko Svinski
                                                </td>
                                                <td class="col-4 py-1 px-1"
                                                    style='vertical-align:middle'>
                                                    Repair Works
                                                </td>
                                                <td class="col-2 py-1 px-1"
                                                    style='text-align:center;vertical-align:middle'>
                                                    $350
                                                </td>
                                                <td class="col-2 py-1"
                                                    style='text-align:center;vertical-align:middle'>
                                                    <span class="badge badge-info">
                                                        NO
                                                    </span>
                                                </td>
                                                <td class="col-2 py-1 text-danger"
                                                    style='text-align:center;vertical-align:middle'>
                                                    Pending
                                                </td>
                                                <td class="col-1 py-1 pl-0 pr-3"
                                                    style='vertical-align:middle'>
                                                    <a asp-controller="Requests"
                                                       asp-action="Details"
                                                       asp-route-Id="id"
                                                       style="display:block; margin-bottom:-10px">
                                                        <ion-icon size="large" name="list-outline"></ion-icon>
                                                    </a>
                                                </td>
                                                <td class="col-1 py-1 pl-0 pr-3"
                                                    style='vertical-align:middle'>
                                                    <input type="submit"
                                                           class="btn btn-sm btn-danger form-control"
                                                           asp-controller="TransactionRequests"
                                                           asp-action="RemoveRecurring"
                                                           asp-route-id="id" value="Remove" />
                                                </td>
                                                <td>
                                                    @Html.ActionLink("Remove", "RemoveRecurring", new { id = "Id" })
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer row justify-content-between m-0 px-2">
                            <div class="col-2 pl-1 pr-0" style="display: inline-block;">
                                <p class="text-left p-0 m-0">
                                    <a asp-controller="TransactionRequests" asp-action="Create" class="btn btn-sm btn-info"><i class="fas fa-plus"></i> &nbsp; Schedule Payment From</a>
                                </p>
                            </div>
                            <div class="col-4 pl-1 pr-0" style="display: inline-block;">
                                <p class="text-left p-0 m-0">
                                    <a asp-controller="TransactionRequests" asp-action="CreateTransactionPayment" class="btn btn-sm btn-warning"><i class="fas fa-plus"></i> &nbsp; Schedule Payment To</a>
                                </p>
                            </div>
                            <div class="col-6 pl-0 m-0" style="display: inline-block;">
                                <p class="text-right p-0 m-0">
                                    <a asp-controller="TransactionRequests" asp-action="All" class="btn btn-sm btn-secondary"><i class="fas fa-eye"></i> &nbsp; View All</a>
                                </p>
                            </div>
                        </div>
                        <!-- /.card-footer -->
                    </div>
                    <!-- /.card -->
                </div>

            </div>

        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

@section Scripts{
    <script>
        var box = paginator({
            table: document.getElementById("transactions").getElementsByTagName("table")[0],
            box_mode: "list",
        });

        box.className = "box pl-3 pr-2 pt-2";

        document
            .getElementById("transactions")
            .appendChild(box);
    </script>
}