@model OwnerDashboardViewModel

@{
    this.ViewData["Title"] = "Management Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-center text-info">@this.ViewData["Title"]</h1>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="row">

            <div class="col-5 pt-4">
                <!-- TABLE: My PROPERTIES -->
                <div class="card shadow">
                    <div class="card-header border-transparent">
                        <h3 class="card-title text-info"><strong>My Properties</strong></h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <div id="properties">
                                <table class="table m-0 table-striped">
                                    <thead>
                                        <tr>
                                            <th class="pl-3 pr-1">City</th>
                                            <th>Address</th>
                                            <th>Category</th>
                                            <th>Status</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var home in Model.Properties)
                                        {
                                            if (Model.Properties.Any())
                                            {
                                                <tr>
                                                    <td class="col-1 py-1 pl-3 pr-1"
                                                        style='vertical-align:middle'>
                                                        @home.City
                                                    </td>

                                                    <td class="col-8 py-1 pl-2 pr-1"
                                                        style='vertical-align:middle'>
                                                        @home.Address
                                                    </td>

                                                    <td class="col-1 py-1 px-1"
                                                        style='text-align:center; vertical-align:middle'>
                                                        <span class="badge badge-info">@home.Category</span>
                                                    </td>

                                                    <td class="col-1 py-1 px-1"
                                                        style='text-align:center; vertical-align:middle'>
                                                        @if (home.Status == "ToRent")
                                                        {
                                                            <span class="badge badge-danger">@home.Status</span>
                                                            if (!string.IsNullOrWhiteSpace(home.Manager))
                                                            {
                                                                <span class="badge badge-success">Managed</span>
                                                            }
                                                        }
                                                        else if (home.Status == "ToManage")
                                                        {
                                                            <span class="badge badge-warning">@home.Status</span>
                                                            if (!string.IsNullOrWhiteSpace(home.Tenant))
                                                            {
                                                                <span class="badge badge-success">Rented</span>
                                                            }
                                                        }
                                                        else if (home.Status == "Rented")
                                                        {
                                                            <span class="badge badge-success">@home.Status</span>
                                                            if (!string.IsNullOrWhiteSpace(home.Manager))
                                                            {
                                                                <span class="badge badge-success">Managed</span>
                                                            }
                                                        }
                                                        else if (home.Status == "Managed")
                                                        {
                                                            <span class="badge badge-success">@home.Status</span>
                                                            if (!string.IsNullOrWhiteSpace(home.Tenant))
                                                            {
                                                                <span class="badge badge-success">Rented</span>
                                                            }
                                                        }
                                                    </td>

                                                    <td class="col-1 py-1 pl-0 pr-2" style='vertical-align:middle'>
                                                        <a asp-controller="Listings"
                                                           asp-action="Details"
                                                           asp-route-Id="@home.Id"
                                                           style="display:block; margin-bottom:-10px">
                                                            <ion-icon size="large" name="list-outline"></ion-icon>
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr class="col-12 py-1 px-3 text-secondary text-center"
                                                    style='vertical-align:middle'>
                                                    No listed properties yet
                                                </tr>
                                            }
                                        }

                                        <tr>
                                            <td class="col-1 py-1 pl-3 pr-1"
                                                style='vertical-align:middle'>
                                                Berlin
                                            </td>

                                            <td class="col-8 py-1 px-1"
                                                style='vertical-align:middle'>
                                                17, Damerowstrasse, 13187
                                            </td>

                                            <td class="col-1 py-1 px-1"
                                                style='text-align:center; vertical-align:middle'>
                                                <span class="badge badge-info">Apartment</span>
                                            </td>

                                            <td class="col-1 py-1 px-1"
                                                style='text-align:center; vertical-align:middle'>
                                                <span class="badge badge-warning">To Manage</span>
                                            </td>

                                            <td class="col-1 py-1 pl-0 pr-2"
                                                style='vertical-align:middle'>
                                                <a asp-controller="Properties"
                                                   asp-action="Details"
                                                   asp-route-Id="id"
                                                   style="display:block; margin-bottom:-10px">
                                                    <ion-icon size="large" name="list-outline"></ion-icon>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-1 py-1 pl-3 pr-1"
                                                style='vertical-align:middle'>
                                                Berlin
                                            </td>

                                            <td class="col-8 py-1 px-1"
                                                style='vertical-align:middle'>
                                                17, Damerowstrasse, 13187
                                            </td>

                                            <td class="col-1 py-1 px-1"
                                                style='text-align:center; vertical-align:middle'>
                                                <span class="badge badge-info">Apartment</span>
                                            </td>

                                            <td class="col-1 py-1 px-1"
                                                style='text-align:center; vertical-align:middle'>
                                                <span class="badge badge-danger">To Rent</span>
                                            </td>

                                            <td class="col-1 py-1 pl-0 pr-2"
                                                style='vertical-align:middle'>
                                                <a asp-controller="Properties"
                                                   asp-action="Details"
                                                   asp-route-Id="id"
                                                   style="display:block; margin-bottom:-10px">
                                                    <ion-icon size="large" name="list-outline"></ion-icon>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-1 py-1 pl-3 pr-1"
                                                style='vertical-align:middle'>
                                                Berlin
                                            </td>

                                            <td class="col-8 py-1 px-1"
                                                style='vertical-align:middle'>
                                                17, Damerowstrasse, 13187
                                            </td>

                                            <td class="col-1 py-1 px-1"
                                                style='text-align:center; vertical-align:middle'>
                                                <span class="badge badge-info">Apartment</span>
                                            </td>

                                            <td class="col-1 py-1 px-1"
                                                style='text-align:center; vertical-align:middle'>
                                                <span class="badge badge-warning">To Manage</span>
                                            </td>

                                            <td class="col-1 py-1 pl-0 pr-2"
                                                style='vertical-align:middle'>
                                                <a asp-controller="Properties"
                                                   asp-action="Details"
                                                   asp-route-Id="id"
                                                   style="display:block; margin-bottom:-10px">
                                                    <ion-icon size="large" name="list-outline"></ion-icon>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-1 py-1 pl-3 pr-1"
                                                style='vertical-align:middle'>
                                                Berlin
                                            </td>

                                            <td class="col-8 py-1 px-1"
                                                style='vertical-align:middle'>
                                                17, Damerowstrasse, 13187
                                            </td>

                                            <td class="col-1 py-1 px-1"
                                                style='text-align:center; vertical-align:middle'>
                                                <span class="badge badge-info">Apartment</span>
                                            </td>

                                            <td class="col-1 py-1 px-1"
                                                style='text-align:center; vertical-align:middle'>
                                                <span class="badge badge-danger">To Rent</span>
                                            </td>

                                            <td class="col-1 py-1 pl-0 pr-2"
                                                style='vertical-align:middle'>
                                                <a asp-controller="Properties"
                                                   asp-action="Details"
                                                   asp-route-Id="id"
                                                   style="display:block; margin-bottom:-10px">
                                                    <ion-icon size="large" name="list-outline"></ion-icon>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-1 py-1 pl-3 pr-1"
                                                style='vertical-align:middle'>
                                                Berlin
                                            </td>

                                            <td class="col-8 py-1 px-1"
                                                style='vertical-align:middle'>
                                                17, Damerowstrasse, 13187
                                            </td>

                                            <td class="col-1 py-1 px-1"
                                                style='text-align:center; vertical-align:middle'>
                                                <span class="badge badge-info">Apartment</span>
                                            </td>

                                            <td class="col-1 py-1 px-1"
                                                style='text-align:center; vertical-align:middle'>
                                                <span class="badge badge-warning">To Manage</span>
                                            </td>

                                            <td class="col-1 py-1 pl-0 pr-2"
                                                style='vertical-align:middle'>
                                                <a asp-controller="Properties"
                                                   asp-action="Details"
                                                   asp-route-Id="id"
                                                   style="display:block; margin-bottom:-10px">
                                                    <ion-icon size="large" name="list-outline"></ion-icon>
                                                </a>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer row justify-content-between m-0 px-2">
                        <div class="col-6 pl-1 pr-0" style="display: inline-block;">
                            <partial name="_ButtonCreatePartial" />
                        </div>
                        <div class="col-6 pl-0 m-0" style="display: inline-block;">
                            <p class="text-right p-0 m-0">
                                <a asp-controller="Listings" asp-action="Index" class="btn btn-sm btn-secondary"><i class="fas fa-eye"></i> &nbsp; View More</a>
                            </p>
                        </div>
                    </div>
                    <!-- /.card-footer -->
                </div>
                <!-- /.card -->
            </div>

            <div class="col-7 pt-4">
                <!-- TABLE: REQUESTS -->
                <div class="card shadow">
                    <div class="card-header border-transparent">
                        <h3 class="card-title text-info"><strong>Requests</strong></h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <div id="requests">
                                <table id="requests" class="table m-0">
                                    <thead>
                                        <tr>
                                            <th class="px-3">Date</th>
                                            <th>Type</th>
                                            <th>Name</th>
                                            <th>Location</th>
                                            <th>Status</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var request in Model.Requests)
                                        {
                                            if (Model.Requests.Any())
                                            {
                                                <tr>
                                                    <td class="col-1 py-1 px-3"
                                                        style='vertical-align:middle'>
                                                        @request.Date
                                                    </td>
                                                    @if (request.Type == ToRent)
                                                    {
                                                        <td class="col-1 py-1" style='vertical-align:middle'>
                                                            <span class="badge badge-success">@request.Type.SeparateStringByCapitals()</span>
                                                        </td>
                                                    }
                                                    else if (request.Type == ToManage)
                                                    {
                                                        <td class="col-1 py-1" style='vertical-align:middle'>
                                                            <span class="badge badge-warning">@request.Type.SeparateStringByCapitals()</span>
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td class="col-1 py-1" style='vertical-align:middle'>
                                                            <span class="badge badge-danger">@request.Type.SeparateStringByCapitals()</span>
                                                        </td>

                                                    }
                                                    <td class="col-3 py-1 px-3"
                                                        style='vertical-align:middle'>
                                                        @request.FullName
                                                    </td>
                                                    <td class="col-5 py-1 px-3"
                                                        style='vertical-align:middle'>
                                                        @request.Location
                                                    </td>
                                                    <td class="col-5 py-1 px-3"
                                                        style='vertical-align:middle'>
                                                        @if (request.Status == NA)
                                                        {
                                                            <span class="text-secondary">N/A</span>
                                                        }
                                                        else if (request.Status == Approved)
                                                        {
                                                            <span class="text-success"><i class="fas fa-check"></i></span>
                                                        }
                                                        else
                                                        {
                                                            <span class="text-danger"><i class="fas fa-times"></i></span>
                                                        }
                                                    </td>
                                                    <td class="col-1 py-1 pl-0 pr-3" style='vertical-align:middle'>
                                                        <a asp-controller="Requests"
                                                           asp-action="Details"
                                                           asp-route-Id="@request.Id"
                                                           style="display:block; margin-bottom:-10px">
                                                            <ion-icon size="large" name="list-outline"></ion-icon>
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr class="col-12 py-1 px-3 text-secondary text-center"
                                                    style='vertical-align:middle'>
                                                    No pending requests
                                                </tr>
                                            }
                                        }
                                        <tr>
                                            <td class="col-1 py-1 px-3" style='vertical-align:middle'>12/03/2020</td>
                                            <td class="col-2 py-1" style='vertical-align:middle'><span class="badge badge-danger">Cancel Rent</span></td>
                                            <td class="col-3 py-1 px-3" style='vertical-align:middle'>Schunko Svinski</td>
                                            <td class="col-5 py-1 px-3" style='vertical-align:middle'>Berlin, 17, Damerowstrasse, 13187</td>
                                            <td class="col-1 py-1 pl-0 pr-3" style='vertical-align:middle'>
                                                <a asp-controller="Requests"
                                                   asp-action="Details"
                                                   asp-route-Id="id"
                                                   style="display:block; margin-bottom:-10px">
                                                    <ion-icon size="large" name="list-outline"></ion-icon>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-1 py-1 px-3" style='vertical-align:middle'>12/03/2020</td>
                                            <td class="col-2 py-1" style='vertical-align:middle'><span class="badge badge-danger">Cancel Manage</span></td>
                                            <td class="col-3 py-1 px-3" style='vertical-align:middle'>Prasemir Butonoskov</td>
                                            <td class="col-5 py-1 px-3" style='vertical-align:middle'>Berlin, 17, Damerowstrasse, 13187</td>
                                            <td class="col-1 py-1 pl-0 pr-3" style='vertical-align:middle'>
                                                <a asp-controller="Requests"
                                                   asp-action="Details"
                                                   asp-route-Id="id"
                                                   style="display:block; margin-bottom:-10px">
                                                    <ion-icon size="large" name="list-outline"></ion-icon>
                                                </a>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer row justify-content-end m-0 pr-2">
                        <div class="col-12">
                            <p class="text-right p-0 m-0">
                                <a asp-controller="Requests"
                                   asp-action="Index"
                                   class="btn btn-sm btn-secondary">
                                    <i class="fas fa-eye"></i> &nbsp; View All
                                </a>
                            </p>
                        </div>
                    </div>
                    <!-- /.card-footer -->
                </div>
                <!-- /.card -->
            </div>

        </div>
        <div class="row justify-content-center">

            <div class="col-md-11 pt-2">
                <!-- TABLE: PAYMENT REQUESTS -->
                <div class="card shadow">
                    <div class="card-header border-transparent">
                        <h3 class="card-title text-info"><strong>Payments</strong></h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table m-0 table-striped">
                                <thead>
                                    <tr>
                                        <th class="px-3">Date</th>
                                        <th>From</th>
                                        <th>To</th>
                                        <th>Reason</th>
                                        <th>Amount</th>
                                        <th>Transaction</th>
                                        <th>Status</th>
                                        <th>Details</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var payment in Model.Payments)
                                    {
                                        @if (Model.Payments.Any())
                                        {
                                    <tr>
                                        <td class="col-1 py-1 px-3"
                                            style='vertical-align:middle'>
                                            @payment.Date
                                        </td>
                                        @if (!string.IsNullOrWhiteSpace(payment.TenantName))
                                        {
                                            <td class="col-2 py-1 px-1"
                                                style='vertical-align:middle'>
                                                @payment.TenantName
                                            </td>
                                            <td class="col-2 py-1 px-1"
                                                style='vertical-align:middle'>
                                                @payment.RentalHomeOnwerName
                                            </td>
                                        }
                                        else if (!string.IsNullOrWhiteSpace(payment.ManagerName))
                                        {
                                            <td class="col-2 py-1 px-1"
                                                style='vertical-align:middle'>
                                                @payment.HomeOwnerName
                                            </td>
                                            <td class="col-2 py-1 px-1"
                                                style='vertical-align:middle'>
                                                @payment.ManagerName
                                            </td>
                                        }
                                        <td class="col-2 py-1 px-1"
                                            style='vertical-align:middle'>
                                            @payment.Reason
                                        </td>
                                        <td class="col-1 py-1 px-1"
                                            style='text-align:center;vertical-align:middle'>
                                            $@payment.Amount
                                        </td>
                                        @if (payment.Status == PaymentStatus.Complete)
                                        {
                                            <td class="col-1 py-1 px-3"
                                                style='text-align:center;vertical-align:middle'>
                                                @payment.TransactionDate
                                            </td>
                                            <td class="col-1 py-1"
                                                style='text-align:center;vertical-align:middle'>
                                                <span class="text-success"><i class="fas fa-check"></i></span>
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="col-1 py-1"
                                                style='text-align:center;vertical-align:middle'>
                                                <p class="text-danger">
                                                    <strong>...</strong>
                                                </p>
                                            </td>
                                            <td class="col-1 py-1 text-danger"
                                                style='text-align:center;vertical-align:middle'>
                                                pending
                                            </td>
                                        }
                                        <td class="col-1 py-1"
                                            style='vertical-align:middle'>
                                            <a asp-controller="Payments"
                                               asp-action="Details"
                                               asp-route-Id="@payment.Id"
                                               style="display:block; margin-bottom:-10px">
                                                <ion-icon size="large" name="list-outline"></ion-icon>
                                            </a>
                                        </td>
                                        <td class="col-2 py-1 pl-0 pr-3"
                                            style='text-align:center;vertical-align:middle'>
                                            <div>
                                                @if (!string.IsNullOrWhiteSpace(payment.ManagerName))
                                                {
                                                    //BUTTONS FOR OWNER
                                                    @if (payment.Status == PaymentStatus.Complete)
                                                    {
                                                        <a value="Paid"
                                                           asp-controller="Payment"
                                                           asp-action="Pay"
                                                           asp-route-Id="@payment.Id"
                                                           class="disabled btn btn-sm btn-labeled btn-secondary btn-block">
                                                            <span class="btn-label">
                                                                <ion-icon class="pt-1" name="card-outline"></ion-icon>
                                                            </span>Paid
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a value="Pay"
                                                           asp-area=""
                                                           asp-controller="Payment"
                                                           asp-action="Pay"
                                                           asp-route-Id="@payment.Id"
                                                           class="btn btn-sm btn-labeled btn-success btn-block">
                                                            <span class="btn-label">
                                                                <ion-icon class="pt-1" name="card-outline"></ion-icon>
                                                            </span>Pay
                                                        </a>
                                                    }
                                                }
                                                else
                                                {
                                                    // TENANT PAID
                                                    @if (payment.Status == PaymentStatus.Complete)
                                                    {
                                                        <a value="Paid"
                                                           class="disabled btn btn-sm btn-labeled btn-secondary text-white btn-block">
                                                            Paid
                                                        </a>
                                                    }
                                                }

                                            </div>
                                        </td>
                                    </tr>
                                    }
                                    else
                                        {
                                            <tr class="col-12 py-1 px-3 text-danger text-center"
                                                style='vertical-align:middle'>
                                                No payments
                                            </tr>
                                        }
                                }

                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer row justify-content-end m-0 pr-2">
                        <div class="col-12">
                            <p class="text-right p-0 m-0">
                                <a asp-controller="Requests" asp-action="Index" class="btn btn-sm btn-secondary"><i class="fas fa-eye"></i> &nbsp; View All</a>
                            </p>
                        </div>
                    </div>
                    <!-- /.card-footer -->
                </div>
                <!-- /.card -->
            </div>

            <div class="col-md-11 pt-2">
                <!-- TABLE: RENTALS -->
                <div class="card shadow">
                    <div class="card-header border-transparent">
                        <h3 class="card-title text-info"><strong>Rentals</strong></h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <div id="rentals">
                                <table id="rentals" class="table m-0">
                                    <thead>
                                        <tr>
                                            <th class="pl-3" style='vertical-align:middle'>Start Date</th>
                                            <th style='text-align:center'>Period (Months)</th>
                                            <th style='text-align:center;vertical-align:middle'>Address</th>
                                            <th style='text-align:center;vertical-align:middle'>Tenant</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var rental in Model.Rentals)
                                        {
                                            if (Model.Rentals.Any())
                                            {
                                                <tr>
                                                    <td class="col-1 py-1 pl-3 pr-1"
                                                        style='vertical-align:middle'>
                                                        @rental.StartDate
                                                    </td>

                                                    <td class="col-2 py-1 pl-2 pr-1"
                                                        style='text-align:center;vertical-align:middle'>
                                                        @if (rental.Duration == null)
                                                        {
                                                            <ion-icon name="infinite-outline"></ion-icon>
                                                        }
                                                        else
                                                        {
                                                            @rental.Duration
                                                        }
                                                    </td>

                                                    <td class="col-3 py-1 px-1"
                                                        style='text-align:center; vertical-align:middle'>
                                                        @rental.Address
                                                    </td>

                                                    <td class="col-4 py-1 px-1"
                                                        style='text-align:center;vertical-align:middle'>
                                                        @rental.Tenant
                                                    </td>

                                                    <td class="col-2 py-1 pl-0 pr-2" style='vertical-align:middle'>
                                                        <a asp-controller="Properties"
                                                           asp-action="Details"
                                                           asp-route-Id="id"
                                                           style="display:block; margin-bottom:-10px">
                                                            <ion-icon size="large" name="list-outline"></ion-icon>
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr class="col-12 py-1 px-3 text-secondary text-center"
                                                    style='vertical-align:middle'>
                                                    No rentals currently
                                                </tr>
                                            }
                                        }
                                        <tr>
                                            <td class="col-3 py-1 pl-3 pr-1"
                                                style='vertical-align:middle'>
                                                12/03/2020
                                            </td>

                                            <td class="col-1 py-1 pl-2 pr-1" style='vertical-align:middle'>24</td>

                                            <td class="col-4 py-1 px-1" style='text-align:center; vertical-align:middle'>
                                                17, Damerowstrasse, 13187
                                            </td>

                                            <td class="col-3 py-1 px-1" style='text-align:center; vertical-align:middle'>
                                                Shunko Svinski
                                            </td>

                                            <td class="col-1 py-1 pl-0 pr-2" style='vertical-align:middle'>
                                                <a asp-controller="Properties"
                                                   asp-action="Details"
                                                   asp-route-Id="id"
                                                   style="display:block; margin-bottom:-10px">
                                                    <ion-icon size="large" name="list-outline"></ion-icon>
                                                </a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="col-3 py-1 pl-3 pr-1"
                                                style='vertical-align:middle'>
                                                12/03/2020
                                            </td>

                                            <td class="col-1 py-1 pl-2 pr-1" style='vertical-align:middle'>24</td>

                                            <td class="col-4 py-1 px-1" style='text-align:center; vertical-align:middle'>
                                                17, Damerowstrasse, 13187
                                            </td>

                                            <td class="col-3 py-1 px-1" style='text-align:center; vertical-align:middle'>
                                                Shunko Svinski
                                            </td>

                                            <td class="col-1 py-1 pl-0 pr-2" style='vertical-align:middle'>
                                                <a asp-controller="Properties"
                                                   asp-action="Details"
                                                   asp-route-Id="id"
                                                   style="display:block; margin-bottom:-10px">
                                                    <ion-icon size="large" name="list-outline"></ion-icon>
                                                </a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="col-3 py-1 pl-3 pr-1"
                                                style='vertical-align:middle'>
                                                12/03/2020
                                            </td>

                                            <td class="col-1 py-1 pl-2 pr-1" style='vertical-align:middle'>24</td>

                                            <td class="col-4 py-1 px-1" style='text-align:center; vertical-align:middle'>
                                                17, Damerowstrasse, 13187
                                            </td>

                                            <td class="col-3 py-1 px-1" style='text-align:center; vertical-align:middle'>
                                                Shunko Svinski
                                            </td>

                                            <td class="col-1 py-1 pl-0 pr-2" style='vertical-align:middle'>
                                                <a asp-controller="Properties"
                                                   asp-action="Details"
                                                   asp-route-Id="id"
                                                   style="display:block; margin-bottom:-10px">
                                                    <ion-icon size="large" name="list-outline"></ion-icon>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer row justify-content-end m-0 pl-0 pr-2">
                        <div class="col-12">
                            <p class="text-right p-0 m-0">
                                <a asp-controller="Rentals" asp-action="Index" class="btn btn-sm btn-secondary"><i class="fas fa-eye"></i> &nbsp; View More</a>
                            </p>
                        </div>
                    </div>
                    <!-- /.card-footer -->
                </div>
                <!-- /.card -->
            </div>

            <div class="col-md-11 pt-2">
                <!-- TABLE: TRANSACTION REQUESTS -->
                <div class="card shadow">
                    <div class="card-header border-transparent">
                        <h3 class="card-title text-info"><strong>Transaction Requests</strong></h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table m-0">
                                <thead>
                                    <tr>
                                        <th class="px-3">Date</th>
                                        <th>To</th>
                                        <th>Reason</th>
                                        <th>Amount</th>
                                        <th>Recurring</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="col-1 py-1 px-3"
                                            style='vertical-align:middle'>
                                            12/03/2020
                                        </td>
                                        <td class="col-4 py-1 px-1"
                                            style='vertical-align:middle'>
                                            Kanalin Tsolov
                                        </td>
                                        <td class="col-3 py-1 px-1"
                                            style='vertical-align:middle'>
                                            Rent Payment
                                        </td>
                                        <td class="col-2 py-1 px-1"
                                            style='text-align:center;vertical-align:middle'>
                                            $900
                                        </td>
                                        <td class="col-3 py-1"
                                            style='text-align:center;vertical-align:middle'>
                                            <span class="badge badge-success">
                                                YES
                                            </span>
                                        </td>
                                        <td class="col-3 py-1"
                                            style='text-align:center;vertical-align:middle'>
                                            <span class="text-success"><i class="fas fa-check"></i></span>
                                        </td>

                                        <td class="col-1 py-1 pl-0 pr-3"
                                            style='vertical-align:middle'>
                                            <a asp-controller="Requests"
                                               asp-action="Details"
                                               asp-route-Id="id"
                                               style="display:block; margin-bottom:-10px">
                                                <ion-icon size="large" name="list-outline"></ion-icon>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-1 py-1 px-3"
                                            style='vertical-align:middle'>
                                            12/03/2020
                                        </td>
                                        <td class="col-4 py-1 px-1"
                                            style='vertical-align:middle'>
                                            Schunko Svinski
                                        </td>
                                        <td class="col-4 py-1 px-1"
                                            style='vertical-align:middle'>
                                            Repair Works
                                        </td>
                                        <td class="col-2 py-1 px-1"
                                            style='text-align:center;vertical-align:middle'>
                                            $350
                                        </td>
                                        <td class="col-2 py-1"
                                            style='text-align:center;vertical-align:middle'>
                                            <span class="badge badge-info">
                                                NO
                                            </span>
                                        </td>
                                        <td class="col-2 py-1 text-danger"
                                            style='text-align:center;vertical-align:middle'>
                                            Pending
                                        </td>
                                        <td class="col-1 py-1 pl-0 pr-3"
                                            style='vertical-align:middle'>
                                            <a asp-controller="Requests"
                                               asp-action="Details"
                                               asp-route-Id="id"
                                               style="display:block; margin-bottom:-10px">
                                                <ion-icon size="large" name="list-outline"></ion-icon>
                                            </a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer row justify-content-end m-0 pr-3">
                        <div class="col-12">
                            <p class="text-right p-0 m-0">
                                <a asp-controller="Requests" asp-action="Index" class="btn btn-sm btn-secondary"><i class="fas fa-eye"></i>&nbsp; View All</a>
                            </p>
                        </div>
                    </div>
                    <!-- /.card-footer -->
                </div>
                <!-- /.card -->
            </div>

        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
@section Scripts{

    <script>
        var box = paginator({
            table: document.getElementById("properties").getElementsByTagName("table")[0],
            box_mode: "list",
        });

        box.className = "box pl-3 pr-2 pt-2";

        document
            .getElementById("properties")
            .appendChild(box);
    </script>

    <script>
        var box = paginator({
            table: document.getElementById("requests").getElementsByTagName("table")[0],
            box_mode: "list",
        });

        box.className = "box pl-3 pr-2 pt-2";

        document
            .getElementById("requests")
            .appendChild(box);
    </script>

    <script>
        var box = paginator({
            table: document.getElementById("rentals").getElementsByTagName("table")[0],
            box_mode: "list",
        });

        box.className = "box pl-3 pr-2 pt-2";

        document
            .getElementById("rentals")
            .appendChild(box);
    </script>

}
