@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<section class="hero">
    <div class="container-fluid">
        <div class="row justify-content-around">
            <div class="col-md-7">
                <div class="row backgroundWhite p-4 pr-0 boder-right">
                    <div class="col-9 border-right">
                        <form class="my-2" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            <div class="">
                                <h2 class="text-center text-primary py-1">@ViewData["Title"]</h2>
                                <h4 class="text-center mb-0">Create a new account.</h4>
                                <hr class="my-1" />
                                <div asp-validation-summary="All" class="text-danger pl-3"></div>

                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label asp-for="Input.FirstName"></label>
                                            <input asp-for="Input.FirstName" class="form-control" />
                                            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label asp-for="Input.LastName"></label>
                                            <input asp-for="Input.LastName" class="form-control" />
                                            <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label asp-for="Input.Username"></label>
                                            <input asp-for="Input.Username" class="form-control" />
                                            <span asp-validation-for="Input.Username" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label asp-for="Input.Email"></label>
                                            <input asp-for="Input.Email" class="form-control" />
                                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Input.Birthdate"></label>
                                    <input asp-for="Input.Birthdate" class="form-control" />
                                    <span asp-validation-for="Input.Birthdate" class="text-danger"></span>
                                </div>

                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label asp-for="Input.Password"></label>
                                            <input asp-for="Input.Password" class="form-control" />
                                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                                        </div>

                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label asp-for="Input.ConfirmPassword"></label>
                                            <input asp-for="Input.ConfirmPassword" class="form-control" />
                                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <input type="hidden" asp-for="Input.Token" />

                                </div>

                                <div class="row justify-content-center">
                                    <div class="col-md-4">
                                        <button type="submit" class="shadow btn btn-primary btn-block">Register</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    @{
                        if ((Model.ExternalLogins?.Count ?? 0) == 0)
                        {
                            <div>
                                <p>
                                    There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                    for details on setting up this ASP.NET application to support logging in via external services.
                                </p>
                            </div>
                        }
                        else
                        {
                            <form class="col-3 pl-3 form-horizontal"
                                  id="external-account"
                                  asp-page="./ExternalLogin"
                                  asp-route-returnUrl="@Model.ReturnUrl"
                                  method="post"
                                  style="padding-top:145px">
                                <div class="row">
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        if (provider.Name == "Facebook")
                                        {
                                            <p class="col-md-12 pb-4">
                                                <button type="submit"
                                                        class="shadow btn btn-block btn-facebook text-white"
                                                        style="background-color:#4064AC;border-color:#4064AC;"
                                                        name="provider"
                                                        value="@provider.Name"
                                                        title="Log in using your @provider.DisplayName account">
                                                    <div class="row d-flex justify-content-md-start">
                                                        <div class=" col-3 pl-0">
                                                            <img src="~/img/faceboo-logo.png" width="20" style="height:25px;width:25px" />
                                                        </div>
                                                        <div class="col-7">@provider.Name</div>
                                                    </div>
                                                </button>
                                            </p>
                                        }

                                        else if (provider.Name == "Google")
                                        {
                                            <p class="col-md-12 pb-4 pt-1">
                                                <button type="submit"
                                                        class="shadow btn btn-block btn-google"
                                                        style="background-color:#fff;border-color:#fff;text-decoration-color:dimgrey"
                                                        name="provider"
                                                        value="@provider.Name"
                                                        title="Log in using your @provider.DisplayName account">
                                                    <div class="row d-flex justify-content-md-start">
                                                        <div class=" col-3">
                                                            <img src="~/img/google-logo.png" width="20" style="height:25px;width:25px" />
                                                        </div>
                                                        <div class="col-7">@provider.Name</div>
                                                    </div>
                                                </button>
                                            </p>
                                        }
                                    }
                                </div>
                            </form>
                        }
                    }
                </div>
            </div>
            
        </div>
    </div>
</section>

@section Scripts {

    <script src="https://www.google.com/recaptcha/api.js?render=@GoogleReCAPTCHA.Value.ReCAPTCHA_Site_Key"></script>
    <script>
            grecaptcha.ready(function() {
                grecaptcha.execute('@GoogleReCAPTCHA.Value.ReCAPTCHA_Site_Key',
                    { action: 'homepage' })
                    .then(function (token) {
                        $('#Input_Token').val(token);
                });
            });
    </script>

    <partial name="_ValidationScriptsPartial" />
}
