@model RequestFormInputModel

@{
    ViewData["Title"] = "RequestForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="jumbotron jumbotron-fluid jumboHeroImage">
</section>
<!-- Hero Section End -->

<section>
    <div class="container-fluid">
        <div class="row pl-lg-5">
            <div class="col-md-5">
                <form asp-action="RequestForm"
                      enctype="multipart/form-data"
                      method="post"
                      id="js-upload-form">
                    <input type="hidden" asp-for="Id" />
                    <div class="formBox mt-0 pt-2">
                        <div class="row">
                            <div class="col-sm-12">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                @if (Model.PropertyDetails.Status.ToString() == ToRent)
                                {
                                    <h2>Request for Rental</h2>
                                    <div class="row">
                                        <div class="col-8">
                                            <hr class="hr-2 mt-1 pb-4" />
                                        </div>
                                    </div>
                                }
                                else if (Model.PropertyDetails.Status.ToString() == ToManage)
                                {
                                    <h2>Request for Management</h2>
                                    <div class="row">
                                        <div class="col-10">
                                            <hr class="hr-2 mt-1 pb-4" />
                                        </div>
                                    </div>
                                }

                                @if (string.IsNullOrEmpty(@Model.User.About)
                       || @Model.User.PhoneNumber == null)
                                {
                                    <h4 class="pb-5 text-danger">Please fill the empty fields</h4>
                                }
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="inputField">
                                    <div class="inputTextFixed">@Model.User.FirstName</div>
                                    <input readonly="readonly" type="text" name="" class="input">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="inputField">
                                    <div class="inputTextFixed">@Model.User.LastName</div>
                                    <input readonly="readonly" type="text" name="" class="input">
                                </div>
                            </div>
                        </div>

                        <div class="row d-flex">
                            <div class="col-sm-6">
                                <textarea class="inputFixed textAreaFixed" readonly="readonly" asp-for="@Model.User.Email" type="text" name=""></textarea>
                            </div>

                            <div class="col-sm-6 align-self-stretch">
                                <div class="inputField">
                                    @if (Model.User.PhoneNumber == null)
                                    {
                                        
                                        <div class="inputText text-danger">Phone</div>
                                        <textarea asp-for="@Model.PhoneNumber"
                                                  class="input" rows="1">
                                        </textarea>
                                    }
                                    else
                                    {
                                        <div class="inputTextFixed">@Model.User.PhoneNumber</div>
                                        <input readonly="readonly" type="text" name="" class="input">
                                    }
                                    <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="inputField">
                                    @if (string.IsNullOrWhiteSpace(Model.User.About))
                                    {
                                        <div class="inputText text-danger">About</div>
                                        <textarea asp-for="@Model.About"
                                                  class="input" rows="7">
                                        </textarea>
                                    }
                                    else
                                    {
                                        <textarea class="inputFixed textAreaFixed"
                                                  readonly="readonly"
                                                  asp-for="@Model.User.About"
                                                  type="text" name=""></textarea>
                                    }
                                    <span asp-validation-for="@Model.About" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="inputField">
                                    <div class="inputText text-danger">Your Message</div>
                                    <textarea asp-for="@Model.Message" class="input" rows="7"></textarea>
                                    <span asp-validation-for="@Model.Message" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-body">

                                        <!-- Standard Form -->
                                        <h5 class="text-danger pb-2" style="opacity: .5;">
                                            Select a PDF file of your ID or Passport
                                        </h5>
                                        <div class="form-inline">
                                            <div class="form-group">
                                                <input type="file" asp-for="Document" accept=".pdf" />
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <span asp-validation-for="Document" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="pt-5">
                            <button type="submit" class="btn btn-success text-white">Submit Request</button>
                        </div>

                    </div>
                </form>
            </div>
            <div class="col-md-7 pt-1">
                <div class="row" style="padding-right:24px; padding-bottom:100px">
                    <div class="col-12">
                        <img src="@Model.PropertyDetails.Image" class="img-fluid" alt="Responsive image">
                    </div>
                    <div class="col-12">
                        <h2 class="text-left pt-2">
                            <strong>@Model.PropertyDetails.Name</strong>
                        </h2>
                        <div class="text-left">
                            <div class="text-muted pt-2">
                                @Model.PropertyDetails.City  &nbsp;| &nbsp; @Model.PropertyDetails.Address

                                @if (Model.PropertyDetails.Status.ToString() == ToRent)
                                {
                                    <span class="float-right">
                                        <strong>Price: $@Model.PropertyDetails.Price/ Month</strong>
                                    </span>
                                }
                            </div>
                            <hr />
                            <strong><i class="far fa-file-alt mr-1"></i>Listing Details</strong>
                            <div class="row">
                                <div class="col-3">
                                    <hr class="hr-2 mt-1" />
                                </div>
                            </div>
                            <p class="text-muted">
                                @Model.PropertyDetails.Description
                            </p>
                            <hr />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.2.1.js">
    </script>
    <script type="text/javascript">
        $(".input").focus(function () {
            $(this).parent().addClass("focus");
        })
    </script>

    @await Html.PartialAsync("_ValidationScriptsPartial")
}