@using RPM.Common
@using System.Text
@using Microsoft.Extensions.Options

@inject IOptions<RPM.Common.PaymentGateways.Stripe.StripeSettings> Stripe

@model ProfileIndexViewModel

<link rel="stylesheet" href="~/css/sitecustom.css">
<script src="https://js.stripe.com/v3"></script>

@{
    this.ViewData["Title"] = "Profile Page";
    
}
<!-- Hero Section Begin -->
@if (this.User.Identity.IsAuthenticated &&
(this.User.IsInRole(GlobalConstants.TenantRole)))
{
    <section class="jumbotron jumbotron-fluid jumboHeroImage">
        <div class="container">
            <div class="row pt-5">
                <div class="col-lg-12 pt-5">
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->
}
else
{
    <section class="hero-section set-bg" data-setbg="/img/hero-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero-text">
                        <img src="/img/placeholder.png" alt="">
                        <h1>Rent or Manage a Home</h1>
                    </div>
                </div>
            </div>
            <div class="row pt-5">
                <div class="col-lg-12">
                    <!--TO TEST -->

                    <!--TO TEST -->
                </div>
            </div>
        </div>
    </section>
}
<!-- Hero Section End -->
<br>

<!-- Main content -->
<section class="content">

    <div class="row d-flex">
        <div class="col-md-2 px-4">

            <div onclick="location.href='payments/index'"
                 class="shadow row p-3 mx-auto mt-1" style="background-color: #CCCCCC;cursor: pointer;">
                <a asp-controller="Payments"
                   asp-action="Index"
                   class="primary-btn px-1 bg-transparent">
                    Payments
                </a>
            </div>

            <div onclick="location.href='rentals/index'"
                 class="shadow row p-3 mx-auto mt-4 mb-4" style="background-color: #CCCCCC;cursor: pointer;">
                <a asp-controller="Rentals"
                   asp-action="Index"
                   class="primary-btn px-1 pb-2 bg-transparent">
                    Rentals
                </a>
            </div>

        </div>

            <div class="col-md-10 px-4">
                <!-- TABLE: PAYMENT REQUESTS -->
                <div class="shadow card">
                    <div class="card-header border-transparent">
                        <h3 class="card-title text-info"><strong>Payments</strong></h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <div id="payments">
                                <table id="payments" class="table table-striped m-0">
                                    <thead>
                                        <tr>
                                            <th class="px-3">Date</th>
                                            <th>To</th>
                                            <th>Reason</th>
                                            <th style='text-align:center;vertical-align:middle'>Amount</th>
                                            <th style='text-align:center;vertical-align:middle'>Status</th>
                                            <th style='text-align:center;vertical-align:middle'>Details</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.Payments.Any())
                                        {
                                            @foreach (var payment in Model.Payments)
                                            {
                                                <tr>
                                                    <td class="col-2 py-1 pl-3 pr-1"
                                                        style='vertical-align:middle'>
                                                        @payment.Date
                                                    </td>
                                                    <td class="col-3 py-1 px-1"
                                                        style='vertical-align:middle'>
                                                        @payment.To
                                                    </td>
                                                    <td class="col-2 py-1 px-1"
                                                        style='vertical-align:middle'>
                                                        @payment.Reason
                                                    </td>
                                                    <td class="col-1 py-1 px-1"
                                                        style='text-align:center;vertical-align:middle'>
                                                        @payment.Amount
                                                    </td>
                                                    @if (payment.Status == PaymentStatus.Complete)
                                                    {
                                                        <td class="col-1 py-1"
                                                            style='text-align:center;vertical-align:middle'>
                                                            <span class="text-success"><i class="fas fa-check"></i></span>

                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td class="col-1 py-1 text-danger"
                                                            style='text-align:center;vertical-align:middle'>
                                                            Pending
                                                        </td>
                                                    }

                                                    <td class="col-1 py-1 pl-0 pr-1"
                                                        style='text-align:center;vertical-align:middle'>
                                                        <a asp-controller="Payments"
                                                           asp-action="Details"
                                                           asp-route-Id="@payment.Id"
                                                           style="display:block; margin-bottom:-10px">
                                                            <ion-icon size="large" name="list-outline"></ion-icon>
                                                        </a>
                                                    </td>
                                                    <td class="col-1 py-1 pl-0 pr-2"
                                                        style='text-align:center;vertical-align:middle'>
                                                        <div>
                                                            @if (payment.Status == PaymentStatus.Complete)
                                                            {
                                                                <a value="Paid"
                                                                   asp-controller="Payment"
                                                                   asp-action="Pay"
                                                                   asp-route-Id="@payment.Id"
                                                                   class="btn btn-sm btn-labeled btn-secondary disabled btn-block">
                                                                    <span class="btn-label">
                                                                        <ion-icon class="pt-1" name="card-outline"></ion-icon>
                                                                    </span>Paid
                                                                </a>
                                                            }
                                                            else
                                                            {
                                                                <a value="Pay"
                                                                   asp-controller="Payment"
                                                                   asp-action="Pay"
                                                                   asp-route-Id="@payment.Id"
                                                                   class="btn btn-sm btn-labeled btn-success btn-block">
                                                                    <span class="btn-label">
                                                                        <ion-icon class="pt-1" name="card-outline"></ion-icon>
                                                                    </span>Pay
                                                                </a>
                                                            }
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr class="col-3">
                                                <td class="row text-danger pl-4"
                                                    style='vertical-align:middle;background-color:white'>
                                                    No payments for your rentals
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer row justify-content-between m-0 px-0">
                        <div class="col-12 pl-0 m-0" style="display: inline-block;">

                        </div>
                    </div>
                    <!-- /.card-footer -->
                </div>
                <!-- /.card -->
            </div>

    </div>
    <div class="row">
        <div class="col-xs-12 col-md-10 offset-md-2 pt-1 px-4">
            <!-- TABLE: RENTALS -->
            <div class="shadow card">
                <div class="card-header border-transparent">
                    <h3 class="card-title text-info"><strong>Rentals</strong></h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <div id="rentals">
                            <table id="rentals" class="table table-striped m-0">
                                <thead>
                                    <tr>
                                        <th class="px-3">Date</th>
                                        <th>Owner</th>
                                        <th>Location</th>
                                        <th style='text-align:center;vertical-align:middle'>Price</th>
                                        <th style='text-align:center;vertical-align:middle'>Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Rentals.Any())
                                    {
                                        foreach (var rental in Model.Rentals)
                                        {
                                            <tr>
                                                <td class="col-1 py-1 pl-3 pr-1"
                                                    style='vertical-align:middle'>
                                                    @rental.Date
                                                </td>
                                                <td class="col-3 py-1 px-1"
                                                    style='vertical-align:middle'>
                                                    @rental.OwnerFullName
                                                </td>
                                                <td class="col-5 py-1 px-1"
                                                    style='vertical-align:middle'>
                                                    @rental.Location
                                                </td>
                                                <td class="col-1 py-1 px-1"
                                                    style='text-align:center;vertical-align:middle'>
                                                    @rental.Price
                                                </td>

                                                <td class="col-1 py-1 pl-0 pr-2"
                                                    style='text-align:center;vertical-align:middle'>
                                                    <a asp-controller="Rentals"
                                                       asp-action="Details"
                                                       asp-route-Id="@rental.Id"
                                                       style="display:block; margin-bottom:-10px">
                                                        <ion-icon size="large" name="list-outline"></ion-icon>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.card-body -->
                <div class="card-footer row justify-content-between m-0 px-0">
                    <div class="col-12 pl-0 m-0" style="display: inline-block;">

                    </div>
                </div>
                <!-- /.card-footer -->
            </div>
            <!-- /.card -->
        </div>
    </div>

</section>
<!-- /.content -->
<!-- TEST SECTION End -->

<br />
<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-xs-12 col-10 offset-2">
            <hr class="hr-2" />
        </div>
    </div>
</div>

@section Scripts{

    <script>
        var box = paginator({
            table: document.getElementById("payments").getElementsByTagName("table")[0],
            box_mode: "list",
        });

        box.className = "box pl-3 pr-2 pt-2";

        document
            .getElementById("payments")
            .appendChild(box);
    </script>

    <script>
        var box = paginator({
            table: document.getElementById("rentals").getElementsByTagName("table")[0],
            box_mode: "list",
        });

        box.className = "box pl-3 pr-2 pt-2";

        document
            .getElementById("rentals")
            .appendChild(box);
    </script>    

}
