@model OwnerListingFullDetailsServiceModel

@{
    this.ViewData["Title"] = "Listings Management";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-center text-info">@this.ViewData["Title"]</h1>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="row">

            <div class="col-6 pt-4">
                <!-- TABLE: Add New Listing -->
                <div class="card">
                    <div class="card-header border-transparent">
                        <h3 class="card-title text-info"><strong>Listing Details</strong></h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <!-- form start -->

                        <div class="card-body">

                            <strong><i class="far fa-file-alt mr-1"></i>Title</strong>
                            <div class="row">
                                <div class="col-2">
                                    <hr class="hr-2 mt-1" />
                                </div>
                            </div>
                            <p class="text-muted">
                                @Model.Name
                            </p>

                            <strong><i class="far fa-file-alt mr-1"></i>Description</strong>
                            <div class="row">
                                <div class="col-3">
                                    <hr class="hr-2 mt-1" />
                                </div>
                            </div>
                            <p class="text-muted">
                               @Model.Description
                            </p>

                            <div class="row">
                                <div class="col-3">
                                    <strong><i class="fas fa-globe mr-1"></i>Country</strong>
                                    <div class="row">
                                        <div class="col-8">
                                            <hr class="hr-2 mt-1" />
                                        </div>
                                    </div>
                                    <p class="text-muted">
                                        @Model.Country
                                    </p>
                                </div>
                                <div class="col-3">
                                    <strong><i class="fas fa-city mr-1"></i>City</strong>
                                    <div class="row">
                                        <div class="col-6">
                                            <hr class="hr-2 mt-1" />
                                        </div>
                                    </div>
                                    <p class="text-muted">
                                        @Model.City
                                    </p>
                                </div>
                                <div class="col-6">
                                    <strong><i class="fas fa-map-marker-alt mr-1"></i>Address</strong>
                                    <div class="row">
                                        <div class="col-4">
                                            <hr class="hr-2 mt-1" />
                                        </div>
                                    </div>
                                    <p class="text-muted">
                                        @Model.Address
                                    </p>
                                </div>
                            </div>

                            <strong><i class="fas fa-dollar-sign mr-1"></i>Price</strong>
                            <div class="row">
                                <div class="col-3">
                                    <hr class="hr-2 mt-1" />
                                </div>
                            </div>
                            <p class="text-muted">
                                $ @Model.Price / Month
                            </p>

                            <div class="row">
                                <div class="col-6">
                                    <strong><i class="fas fa-question mr-1"></i>Status</strong>
                                    <div class="row">
                                        <div class="col-4">
                                            <hr class="hr-2 mt-1" />
                                        </div>
                                    </div>
                                    @if (Model.Status.ToString() == "ToRent")
                                    {
                                        <span class="badge badge-danger">To Rent</span>
                                    }
                                    else if (Model.Status.ToString() == "ToManage")
                                    {
                                        <span class="badge badge-warning">To Manage</span>
                                    }
                                    else if (Model.Status.ToString() == "Managed")
                                    {
                                        <span class="badge badge-success">Managed</span>
                                    }
                                </div>
                                <div class="col-6">
                                    <strong><i class="far fa-file-alt mr-1"></i>Category</strong>
                                    <div class="row">
                                        <div class="col-5">
                                            <hr class="hr-2 mt-1" />
                                        </div>
                                    </div>
                                    <p class="text-muted">
                                        @Model.Category.ToString()
                                    </p>
                                </div>
                            </div>
                            
                        </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button asp-controller="Listings" asp-action="Edit" asp-route-id="Id" class="btn btn-info">Edit Listing</button>
                            </div>
                        <!-- /.form (start) -->
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <div class="col-6 pt-4">
                <div class="card">
                    <div class="card-header border-transparent">
                    <h3 class="card-title text-info"><strong>Image</strong></h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                    <div class="card-body p-0">
                        <div class="row px-4 pb-4">
                            <img src="@Model.Image" class="img-fluid" alt="Responsive image">
                        </div>
                        <div class="col-12">
                            @if (Model.RentalInfo == null)
                            {
                                <h4 class="text-danger text-center pb-4">
                                    You are managing the property
                                </h4>
                            }
                            else
                            {
                                <div class="row">
                                    <div class="col-6">
                                        <strong><i class="far fa-calendar-alt mr-1"></i>Rental Date</strong>
                                        <div class="row">
                                            <div class="col-3">
                                                <hr class="hr-2 mt-1" />
                                            </div>
                                        </div>
                                        <p class="text-muted">
                                            @Model.RentalInfo.RentalDate
                                        </p>
                                    </div>
                                    <div class="col-6">
                                        <strong><i class="far fa-clock mr-1"></i>Duration</strong>
                                        <div class="row">
                                            <div class="col-3">
                                                <hr class="hr-2 mt-1" />
                                            </div>
                                        </div>
                                        <p class="text-muted">
                                            @Model.RentalInfo.Duration Months
                                        </p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-6">
                                        <strong><i class="fas fa-user mr-1"></i>Tenant Name</strong>
                                        <div class="row">
                                            <div class="col-3">
                                                <hr class="hr-2 mt-1" />
                                            </div>
                                        </div>
                                        <p class="text-muted">
                                            @Model.RentalInfo.TenantFullName
                                        </p>
                                    </div>
                                    <div class="col-6">
                                        <strong><i class="fas fa-user-tie mr-1"></i>Manager Name</strong>
                                        <div class="row">
                                            <div class="col-3">
                                                <hr class="hr-2 mt-1" />
                                            </div>
                                        </div>
                                        @if (string.IsNullOrWhiteSpace(Model.RentalInfo.ManagerFullName))
                                        {
                                            <h4 class="text-danger">
                                                You are managing the property
                                            </h4>
                                        }
                                        else
                                        {
                                            <p class="text-muted">
                                                @Model.RentalInfo.ManagerFullName
                                            </p>
                                        }
                                    </div>
                                </div>
                            }
                            <!--
      else
      {
          <div class="col-6">
              <strong><i class="far fa-file-alt mr-1"></i>Status</strong>
              <div class="row">
                  <div class="col-3">
                      <hr class="hr-2 mt-1" />
                  </div>
              </div>
              <h4 class="text-success">
                  The listing is not rented yet
              </h4>
          </div>
      }
    -->
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->