@model AllUsersViewModel
@{
    ViewData["Title"] = "User Administration";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<head>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/themes/admin/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/themes/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/themes/admin/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body>
    <div class="content-wrapper">
        <h2 class="text-left pl-3 pt-2">@ViewData["Title"]</h2>
        <section class="content">
            <div class="row justify-content-center">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-12 pt-4">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title text-info pl-1"><strong>Users List</strong></h3>
                            <div class="row d-flex justify-content-end">
                                @if (Model.PreviousDisabled)
                                {
                                    <div class="col-1 d-flex align-items-center text-left">
                                        <h6>@Model.CurrentPage-@Model.PageSize/@Model.Total</h6>
                                    </div>

                                    <a href="/Administration/Users?page=@Model.PreviousPage"
                                       class="btn btn-default text-center
                                    @(Model.PreviousDisabled? "disabled" : string.Empty)">Prev</a>
                                }
                                else if (Model.NextDisabled)
                                {
                                    <div class="col-1 d-flex align-items-center text-left">
                                        <h6 class="align-center">@(Model.CurrentPage * Model.PageSize)-@Model.Total/@Model.Total</h6>
                                    </div>
                                    <a href="/Administration/Users?page=@Model.PreviousPage"
                                       class="btn btn-info text-center
                                    @(Model.PreviousDisabled? "disabled" : string.Empty)">Prev</a>
                                }
                                else
                                {
                                    <div class="col-1 d-flex align-items-center text-left">
                                        <h6 class="align-center">@(Model.CurrentPage * Model.PageSize)-@((Model.CurrentPage * Model.PageSize) + Model.PageSize)/@Model.Total</h6>
                                    </div>
                                    <a href="/Administration/Users?page=@Model.PreviousPage"
                                       class="btn btn-info text-center
                                    @(Model.PreviousDisabled? "disabled" : string.Empty)">Prev</a>
                                }

                                @if (Model.NextDisabled)
                                {
                                    <a href="/Administration/Users?page=@Model.NextPage"
                                       class="btn btn-default ml-1 pr-3 mr-1 text-center
                               @(Model.NextDisabled? "disabled" : string.Empty)">Next</a>
                                }
                                else
                                {
                                    <a href="/Administration/Users?page=@Model.NextPage"
                                       class="btn btn-info ml-1 pr-3 mr-1 text-center
                               @(Model.NextDisabled? "disabled" : string.Empty)">Next</a>
                                }
                            </div>

                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="mytable" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th class="col-2 text-info"><strong>Username</strong></th>
                                        <th class="col-4 text-info"><strong>Email</strong></th>
                                        <th class="col-2 text-center text-info"><strong>Add Role</strong></th>
                                        <th class="col-2 text-center text-info"><strong>Remove Role</strong></th>
                                        <th class="col-1 text-center text-info"><strong>Profile</strong></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var user in Model.Users)
                                    {
                                        <tr>
                                            <td class="pl-0 align-center">
                                                <ul class="d-flex flex-row pl-0 m-0" style="list-style-type:none;">
                                                    <li class="col-9 my-auto">
                                                        @user.Username
                                                    </li>
                                                    <li class="col-3 my-auto">
                                                        @foreach (var role in user.UserRoles)
                                                        {
                                                            <span class="row right badge badge-danger">@role</span>
                                                        }
                                                    </li>
                                                </ul>
                                            </td>
                                            <td>@user.Email</td>
                                            <td>
                                                <form asp-controller="Users"
                                                      asp-action="AddToRole" method="post">
                                                    <div class="d-flex justify-content-end">
                                                        <input type="hidden"
                                                               name="UserId"
                                                               value="@user.Id" />
                                                        <select name="Role"
                                                                asp-items="Model.Roles"
                                                                class="form-control col-9">
                                                        </select>
                                                        &nbsp;
                                                        <button class=" col-3 btn btn-sm btn-info"
                                                                type="submit"
                                                                value="Add">
                                                            <i class="fas fa-plus"></i>
                                                        </button>
                                                    </div>
                                                </form>
                                            </td>
                                            <td>
                                                <form asp-controller="Users"
                                                      asp-action="RemoveFromRole" method="post">
                                                    <div class="d-flex justify-content-end">
                                                        <input type="hidden" name="UserId" value="@user.Id" />
                                                        <select name="Role"
                                                                asp-items="Model.Roles"
                                                                class="form-control col-9">
                                                        </select>
                                                        &nbsp;
                                                        <button class="col-3 btn btn-sm btn-danger"
                                                                type="submit"
                                                                value="Remove">
                                                            <i class="far fa-trash-alt"></i>
                                                        </button>
                                                    </div>
                                                </form>
                                            </td>
                                            <td class="text-center">
                                                <form>
                                                    <input type="hidden"
                                                           name="UserId"
                                                           value="@user.Id" />
                                                    <button class=" col-7 btn btn-dark"
                                                            asp-action="Details"
                                                            asp-route-Id="@user.Id"
                                                            type="submit"
                                                            value="Details">
                                                        <i class="far fa-eye"></i>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- jQuery -->
    <script src="~/themes/admin/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/themes/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables -->
    <script src="~/themes/admin/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/themes/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
</body>
<!-- page script -->
@section Scripts{
    <script>
        $(function () {
            $('#mytable').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": true,
            });
        });</script>

}
