@model AdminUsersListingViewModel
@{
    ViewData["Title"] = "User Administration";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<head>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/themes/admin/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/themes/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/themes/admin/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body>
    <div class="content-wrapper">
        <h2 class="text-left pl-2 pt-2">@ViewData["Title"]</h2>
        <section class="content">
            <div class="row justify-content-center">
                <div class="col-12 pt-4">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">DataTable with Users</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="mytable" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center text-info"><strong>Username</strong></th>
                                        <th class="text-center text-info"><strong>Email</strong></th>
                                        <th class="text-center text-info"><strong>Add Role</strong></th>
                                        <th class="text-center text-info"><strong>Remove Role</strong></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var user in Model.Users)
                                    {
                                        var userRolesToAdd = Model.Roles.Where(r => !user.UserRoles.Contains(r.Text));
                                        var userRolesToRemoveFrom = Model.Roles.Where(r => user.UserRoles.Contains(r.Text));
                                        <tr>
                                            <td>@user.Username</td>
                                            <td>@user.Email</td>
                                            <td>
                                                @if (userRolesToAdd.Any())
                                                {
                                                <form asp-controller="Users" asp-action="AddToRole" method="post">
                                                    <div class="form-inline text-center">
                                                            <input type="hidden" name="UserId" value="@user.Id" />
                                                            <select 
                                                                    name="Role" 
                                                                    asp-items="userRolesToAdd" 
                                                                    class="form-control">
                                                            </select>
                                                        <button class="btn btn-sm btn-primary" type="submit" value="Add">
                                                        </button>
                                                    </div>
                                                </form>
                                                }
                                            </td>
                                            <td>
                                                @if (userRolesToAdd.Any())
                                                {
                                                    <form asp-controller="Users" asp-action="RemoveFromRole" method="post">
                                                        <div class="col-md-8">
                                                            <input type="hidden" name="UserId" value="@user.Id" />
                                                            <select name="Role"
                                                                    asp-items="userRolesToRemoveFrom"
                                                                    class="form-control">
                                                            </select>
                                                           
                                                        </div>
                                                        <div class="col-md-2">
                                                            <button class="btn btn-sm btn-danger" type="submit" value="Remove">
                                                            </button>
                                                        </div>
                                                    </form>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- jQuery -->
    <script src="~/themes/admin/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/themes/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables -->
    <script src="~/themes/admin/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/themes/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
</body>
<!-- page script -->
@section Scripts{
    <script>
        $(function () {
            $('#mytable').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": true,
            });
        });</script>

}
