@model OwnerListingCreateInputModel

@{
    this.ViewData["Title"] = "Create Listing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <body class="add-listing-bg">
        @*<h1 class="text-center text-info mx-auto">@this.ViewData["Title"]</h1>*@
            <!-- Main content -->
            <section class="content" style="padding-top:0px;padding-bottom:100px">
                <div class="row d-flex justify-content-center">

                    <div class="col-6 pt-4">
                        <!-- TABLE: Add New Listing -->
                        <div class="card backgroundWhite shadow">
                            <div class="card-header border-transparent pb-0">
                                <div class="row">
                                    <div class="col-4">
                                        <h3 class="card-title text-info"><strong>Add New Listing</strong></h3>
                                    </div>
                                    <div class="col-4 text-center">
                                        @if (Model.UserHasStripeAccount == false || Model.UserHasStripeAccount == null)
                                        {
                                            <a href=@HomyStrypeTestModeClientIdConnectLink class="btn btn-primary">
                                                Connect to Stripe
                                            </a>
                                        }
                                        else
                                        {
                                            <a class="btn btn-secondary text-white" disabled>
                                                Connected to Stripe
                                            </a>
                                        }
                                    </div>
                                    <div class="col-4 text-right">
                                        <div class="card-tools">
                                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- /.card-header -->
                            <div class="card-body p-0">
                                <!-- form start -->
                                <form method="post" role="form" enctype="multipart/form-data">
                                    <div asp-validation-summary="ModelOnly"></div>

                                    <div class="card-body">

                                        <div class="form-group">

                                            <label asp-for="Name" class="col-form-label">Title</label>
                                            <input asp-for="Name" class="form-control" placeholder="Title...">
                                            <span asp-validation-for="Name" class="text-danger"></span>

                                        </div>

                                        <div class="form-group">
                                            <label asp-for="Description" class="col-form-label">Description</label>
                                            <textarea asp-for="Description" class="form-control" rows="5" placeholder="Enter description..."></textarea>
                                            <span asp-validation-for="Description" class="text-danger"></span>
                                        </div>

                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label asp-for="CountryId"></label>
                                                    <select asp-for="@Model.CountryId"
                                                            id="CountryId"
                                                            asp-items="@Model.Countries
                                            .OrderBy(x => x.Name)
                                            .ToSelectListItem(Model.CountryId)"
                                                            class="form-control">

                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label asp-for="CityId"></label>
                                                    <select asp-for="@Model.CityId"
                                                            name="CityId"
                                                            id="CityId"
                                                            asp-items="@(new SelectList(string.Empty, "Id", "Name"))"
                                                            class="form-control"></select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label asp-for="Address">Address</label>
                                            <input asp-for="Address" class="form-control" placeholder="Address...">
                                            <span asp-validation-for="Address" class="text-danger"></span>
                                        </div>

                                        <div class="form-group">
                                            <label asp-for="Price">Price</label>
                                            <input type="number"
                                                   step="0.01"
                                                   class="form-control"
                                                   id="price"
                                                   placeholder="Price..."
                                                   asp-for="Price">
                                            <span asp-validation-for="Price" class="text-danger"></span>
                                        </div>

                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label asp-for="Status">Status</label>
                                                    <select asp-for="Status"
                                                            asp-items="Html.GetEnumSelectList<HomeStatus>().OrderBy(x => x.Value)"
                                                            class="form-control"
                                                            placeholder="Status..."></select>
                                                    <span asp-validation-for="Status" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label asp-for="Category">Category</label>
                                                    <select asp-for="Category"
                                                            asp-items="Html.GetEnumSelectList<HomeCategory>().OrderBy(x => x.Value)"
                                                            class="form-control"
                                                            placeholder="Category..."></select>
                                                    <span asp-validation-for="Category" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <label asp-for="Image"></label>
                                        <div class="input-group">
                                            <input asp-for="Image"
                                                   type="file"
                                                   id="image"
                                                   placeholder="Image...">
                                            <span asp-validation-for="Image" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer">
                                        @if (Model.UserHasStripeAccount == false || Model.UserHasStripeAccount == null)
                                        {
                                            <div class="row justify-content-center">
                                                <div class="col-md-6">
                                                    <button disabled
                                                            type="submit"
                                                            class="btn btn-secondary btn-block mx-auto">
                                                        Add Listing
                                                    </button>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="row justify-content-center">
                                                <dvi class="col-md-6">
                                                    <button type="submit"
                                                            class="btn btn-info btn-block mx-auto">
                                                        Add Listing
                                                    </button>
                                                </dvi>
                                            </div>
                                        }
                                    </div>
                                </form>
                                <!-- /.form (start) -->
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </section>
            <!-- /.content -->
    </body>

@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            getCity();
            $('#CountryId').change(function () {
                getCity();
            });
        });

        function getCity() { 

            var url = '@Url.Content("~/")' + "Management/Listings/GetCity";
            
            var ddlSource = '#CountryId';

            $.getJSON(url, { id: $(ddlSource).val() }, function (data) {

                var items = '';

                $('#CityId').empty();

                $.each(data, function (i, city) {
                    items += "<option value ='" + city.value + "'>" + city.text + "</option>";
                });

                $('#CityId').html(items);
            })
        }
        </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}