@model PropertyDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="jumbotron jumbotron-fluid jumboHeroImage">
</section>
<!-- Hero Section End -->

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <h2 class="text-left pl-lg-5">
                    <strong>@Model.Name</strong>
                </h2>
                <h5 class="text-secondary text-left pl-lg-5 pt-1">@Model.City, @Model.Country</h5>
            </div>
        </div>

        <div class="row px-lg-5 pb-1">
            <div class="col-12">
                <hr class="hr-2" />
            </div>
        </div>

        <div class="row pt-1">
            <div class="col-6">
                <h3 class="text-left pl-lg-5">
                    <strong class="text-secondary">The home is hosted by @Model.OwnerName</strong>
                </h3>
                <div class="text-left pl-lg-5">
                    <div class="text-muted pt-2">@Model.Address<span class="float-right"><strong>Price: $@Model.Price/ Month</strong></span></div>
                    <hr />
                    <strong><i class="far fa-file-alt mr-1"></i>Listing Details</strong>
                    <div class="row">
                        <div class="col-3">
                            <hr class="hr-2 mt-1" />
                        </div>
                    </div>
                    <p class="text-muted">
                        @Model.Description
                    </p>

                    <hr>
                    <p>
                        <a asp-controller="Requests" asp-action="RequestForm" asp-route-Id="@Model.Id" class="btn btn-success">Request To Rent</a>
                    </p>
                </div>

                

            </div>
            <div class="col-6">
                <img src="~/img/wp2406709.jpg" class="img-fluid" alt="Responsive image">
            </div>
        </div>
    </div>
</section>


