@using RPM.Common

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>

    <environment names="Development">

        <!-- Font Awesome -->
        <link href="~/themes/admin/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />

        <!-- Ionicons -->
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

        <!-- overlayScrollbars -->
        <link rel="stylesheet" href="~/themes/admin/dist/css/adminlte.min.css">

        <!-- Google Font: Source Sans Pro -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

        <!-- Bootstrap -->
        <link href="~/themes/admin/bootstrap/dist/css/bootstrap.css" rel="stylesheet" asp-append-version="true" />

    </environment>

    <environment names="Staging,Production">
        <!-- Font Awesome -->
        <link href="~/themes/admin/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
        <!-- Ionicons -->
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <!-- overlayScrollbars -->
        <link rel="stylesheet" href="~/themes/admin/dist/css/adminlte.min.css">
        <!-- Google Font: Source Sans Pro -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
        <!-- Bootstrap -->
        <link href="~/themes/admin/bootstrap/dist/css/bootstrap.css" rel="stylesheet" asp-append-version="true" />
    </environment>

</head>
<body class="hold-transition sidebar-mini">

    <!-- BODY WRAPPER -->
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="~/themes/admin/index3.html" class="nav-link">Home</a>
                </li>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Messages Dropdown Menu -->
                <li class="nav-item">
                    <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#">
                        <i class="fas fa-th-large"></i>
                    </a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <form class="form-inline bg-transparent" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@(this.Url.Action("Index", "Home", new { area = string.Empty }))">
                        <button type="submit" class="btn btn-danger" , border-transparent">Logout</button>
                    </form>

                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="/" class="brand-link">
                <img src="~/img/Homy_Graphic Logo_Small_5.png"
                     alt="Homy Logo"
                     class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-bold" style="color: #0BA5C1">Homy</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/themes/admin/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block text-bold">@User.Identity.Name</a>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
                        <!--********************************************************-->
                        <!--MY ADMIN MENU-->
                        @if (User.IsInRole(GlobalConstants.AdministratorRoleName))
                        {
                            <li class="nav-item has-treeview">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-map-marker-alt"></i>
                                    <p>
                                        Locations
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a asp-area="Administration" asp-controller="Countries" asp-action="Index" class="nav-link">
                                            <i class="fas fa-globe-europe nav-icon"></i>
                                            <p>Countries</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-area="Administration" asp-controller="Cities" asp-action="Index" class="nav-link">
                                            <i class="fas fa-city nav-icon"></i>
                                            <p>Cities</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item has-treeview">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-users-cog"></i>
                                    <p>
                                        Users
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a asp-area="Administration" asp-controller="Users" asp-action="Index" class="nav-link">
                                            <i class="fas fa-table nav-icon"></i>
                                            <p>All</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="~/themes/admin/index2.html" class="nav-link">
                                            <i class="fas fa-table nav-icon"></i>
                                            <p>Owners</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="~/themes/admin/index2.html" class="nav-link">
                                            <i class="fas fa-table nav-icon"></i>
                                            <p>Managers</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a asp-area="Administration" asp-controller="Listings" asp-action="Index" class="nav-link">
                                    <i class="nav-icon fas fa-home"></i>
                                    <p>
                                        Listings
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-area="Administration" asp-controller="Listings" asp-action="Create" class="nav-link">
                                    <i class="nav-icon fas fa-home"></i>
                                    <p>
                                        Listings CREATE
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-area="Administration" asp-controller="Rentals" asp-action="Create" class="nav-link">
                                    <i class="fas fa-angle-left right"></i>
                                    <p>
                                        Rentals CREATE
                                    </p>
                                </a>
                            </li>
                        }
                        else if (User.IsInRole(GlobalConstants.OwnerRoleName))
                        {
                            <li class="nav-item">
                                <a asp-area="Management" asp-controller="Dashboard" asp-action="Index" class="nav-link">
                                    <i class="nav-icon fas fa-tachometer-alt"></i>
                                    <p>
                                        Dashboard
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-area="Management" asp-controller="Listings" asp-action="Index" class="nav-link">
                                    <i class="nav-icon fas fa-home"></i>
                                    <p>
                                        Properties
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-area="Management" asp-controller="Rentals" asp-action="Index" class="nav-link">
                                    <i class="nav-icon fas fa-edit"></i>
                                    <p>
                                        Rentals
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-area="Management" asp-controller="Requests" asp-action="Index" class="nav-link">
                                    <i class="nav-icon fas fa-question"></i>
                                    <p>
                                        Requests
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-area="Management" asp-controller="Payments" asp-action="Index" class="nav-link">
                                    <i class="nav-icon fas fa-credit-card"></i>
                                    <p>
                                        Payments
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-area="Management" asp-controller="TransactionRequests" asp-action="Index" class="nav-link">
                                    <i class="nav-icon fas fa-money-check-alt"></i>
                                    <p>
                                        Transaction Requests
                                    </p>
                                </a>
                            </li>
                        }
                        else if (User.IsInRole(GlobalConstants.ManagerRoleName))
                        {
                            <li class="nav-item">
                                <a asp-controller="Dashboard" asp-action="Index" class="nav-link">
                                    <i class="nav-icon fas fa-tachometer-alt"></i>
                                    <p>
                                        Dashboard
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Listings" asp-action="Index" class="nav-link">
                                    <i class="nav-icon fas fa-home"></i>
                                    <p>
                                        Managed Properties
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Payments" asp-action="Index" class="nav-link">
                                    <i class="nav-icon fas fa-money-check-alt"></i>
                                    <p>
                                        Payments
                                    </p>
                                </a>
                            </li>
                        }
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <main role="main">
            <partial name="_AlertMessages" />
            @this.RenderBody()
        </main>

        <partial name="_CookieConsentPartial" />
        <!-- FOOTER -->
        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <b>Version</b> 3.0.2
            </div>
            <strong>Copyright &copy; @DateTime.Now.Year - @GlobalConstants.SystemName <a href="#">DotNetDari</a>.</strong> All rights
            reserved.
        </footer>
        <!-- FOOTER -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->

    </div>
    <!-- BODY WRAPPER END -->

    <environment names="Development">
        <!-- jQuery -->
        <script src="~/themes/admin/plugins/jquery/jquery.min.js"></script>

        <!-- Bootstrap 4 -->
        <script src="~/themes/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- AdminLTE App -->
        <script src="~/themes/admin/dist/js/adminlte.min.js"></script>

        <!-- AdminLTE for demo purposes -->
        <script src="~/themes/admin/dist/js/demo.js"></script>

        <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>

        <script src="~/js/paginator.js"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>

        <!-- Bootstrap 4 -->
        <script src="~/themes/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- AdminLTE App -->
        <script src="~/themes/admin/dist/js/adminlte.min.js"></script>
        <!-- AdminLTE for demo purposes -->
        <script src="~/themes/admin/dist/js/demo.js"></script>
        <script src="~/lib/ionicons/dist/ionicons.js"></script>
        <script src="~/js/paginator.js"></script>

        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @this.RenderSection("Scripts", required: false)
</body>
</html>
