@using RPM.Common
@using RPM.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homy | Home Page</title>

    <environment names="Development">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

        <!-- Css Styles -->
        <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="~/css/flaticon.css" type="text/css">
        <link rel="stylesheet" href="~/css/nice-select.css" type="text/css">
        <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
        <link rel="stylesheet" href="~/css/magnific-popup.css" type="text/css">
        <link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css">
        <link rel="stylesheet" href="~/css/style.css" type="text/css">

        <!-- Font Awesome -->
        <link href="~/themes/admin/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
        <!-- Ionicons -->
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <!-- overlayScrollbars -->
        <link rel="stylesheet" href="~/themes/admin/dist/css/adminlte.min.css">

        <!-- Bootstrap -->
        <link href="~/themes/admin/bootstrap/dist/css/bootstrap.css" rel="stylesheet" asp-append-version="true" />

        <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    </environment>

    <environment names="Staging,Production">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/fortawesome/fontawesome-free/css/all.css" rel="stylesheet" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" type="text/css" asp-append-version="true" />

        <link rel="stylesheet" href="~/lib/magnific-popup/dist/magnific-popup.css" type="text/css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/slicknav/dist/slicknav.min.css" type="text/css" asp-append-version="true" />

        <link rel="stylesheet" href="~/css/flaticon.css" type="text/css" />
        <link rel="stylesheet" href="~/css/nice-select.css" type="text/css" />
        <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css" />
        <link rel="stylesheet" href="~/css/style.css" type="text/css" />

        <link rel="stylesheet" href="~/lib/ionicons-npm/css/ionicons.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/themes/admin/dist/css/adminlte.min.css" />

        <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->

    <header class="header-section">
        <div class="container-fluid">
            <div class="logo pl-5">
                <a class="navbar-brand"
                   asp-area=""
                   asp-controller="Home"
                   asp-action="Index"
                   style="margin-top: -18px;">
                    <img src="~/img/Homy_Graphic Logo_4.png" class="image-fluid">
                </a>
            </div>
            @if (this.SignInManager.IsSignedIn(this.User))
            {
                if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                {
                    <a asp-area="Administration" asp-controller="Dashboard" asp-action="Index" title="Admin">Admin</a>
                }
                <nav class="main-menu mobile-menu">
                    <ul>
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a href="how-it-works.html">Explore</a></li>
                        <li><a href="listings.html">Cities</a></li>
                        <li><a asp-controller="ContactUs" asp-action="Index">Help</a></li>
                        <li><a asp-controller="Home" asp-action="Test">TestPage</a></li>
                    </ul>
                </nav>
                <div class="header-right" id="MyTopnav">
                    <div class="user-access">

                        <a asp-area="Identity" asp-page="/Account/Manage/Index"
                           title="Manage" style="color:#FF5581" class="pr-2">Hello @(this.User.Identity.Name)!</a>

                        @if (this.User.IsInRole(GlobalConstants.TenantRole))
                        {
                            <a asp-controller="Profile" asp-action="Index">
                                Profile
                            </a>
                        }
                        else if (this.User.IsInRole(GlobalConstants.ManagerRoleName))
                        {
                            <a asp-controller="Dashboard" asp-action="Index">
                                Dashboard
                            </a>
                        }

                    </div>
                    <a asp-area=""
                       asp-controller="Listings"
                       asp-action="Create"
                       title="Create Listing"
                       class="primary-btn ml-0 px-4">Add Listing</a>
                    <a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@(this.Url.Action("Index", "Home", new { area = string.Empty }))" class="primary-btn px-3 ml-2 mr-4" style="background-color: #01BFE1">Logout</a>
                </div>
                <div id="mobile-menu-wrap"></div>
            }
            else
            {
                <nav class="main-menu mobile-menu">
                    <ul mr-auto>
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a href="how-it-works.html">Explore</a></li>
                        <li><a href="listings.html">Cities</a></li>
                        <li><a asp-controller="ContactUs" asp-action="Index">Contact</a></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>

                    </ul>
                </nav>

                <div class="header-right">
                    <div class="user-access">
                        <a asp-area="Identity" asp-page="/Account/Register">Register/</a>
                        <a asp-area="Identity" asp-page="/Account/Login">Login</a>
                    </div>
                    <a asp-area="Identity"
                       asp-page="/Account/Login"
                       title="Create Listing"
                       class="primary-btn ml-0 px-4">Add Listing</a>
                </div>
                <div id="mobile-menu-wrap"></div>
            }
        </div>
    </header>

    <!-- Header End -->

    <main role="main" style="min-height:100vh;">
        <!--<partial name="_AlertMessages" />-->

        <partial name="_AlertMessages" />

        @this.RenderBody()

        <partial name="_CookieConsentPartial" />
    </main>

    <!-- Footer Section Begin -->
    <footer class="footer-section spad" style="position:absolute;width:100%;">
        <div class="container">
            <span class="text-primary">&copy; @DateTime.Now.Year - @GlobalConstants.SystemName &nbsp;</span>
            <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>

            <div class="row footer-bottom pt-4">
                <div class="col-lg-5 order-2 order-lg-1">
                    <div class="copyright pb-0 mb-0">
                        <p class="text-secondary">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            All rights reserved | This template is made by<a href="https://colorlib.com" target="_blank">&nbsp; Colorlib and proudly edited by Darin Rusev</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <environment names="Development">

        <script src="~/js/jquery-3.3.1.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/jquery.magnific-popup.min.js"></script>
        <script src="~/js/jquery.slicknav.js"></script>
        <script src="~/js/owl.carousel.min.js"></script>
        <script src="~/js/jquery.nice-select.min.js"></script>
        <script src="~/js/mixitup.min.js"></script>
        <script src="~/js/main.js"></script>

        <!-- jQuery -->
        <script src="~/themes/admin/plugins/jquery/jquery.min.js"></script>
        <!-- Bootstrap 4 -->
        <script src="~/themes/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- AdminLTE App -->
        <script src="~/themes/admin/dist/js/adminlte.min.js"></script>
        <!-- AdminLTE for demo purposes -->
        <script src="~/themes/admin/dist/js/demo.js"></script>
        <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>

    </environment>

    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~js/jquery.magnific-popup.min.js"></script>
        <script src="~js/jquery.slicknav.js"></script>
        <script src="~js/jquery.nice-select.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~js/owl.carousel.min.js"></script>
        <script src="~js/mixitup.min.js"></script>
        <script src="~js/main.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>

    </environment>

    @this.RenderSection("Scripts", required: false)

</body>
</html>